body {
    font-family: 'Arial', sans-serif;
    background-color: #2c3e50;
    color: white;
    text-align: center;
    margin-top: 100px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #e67e22;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #d35400;
}